@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
 
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
/*nav bar*/
nav {
    width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    nav .logo {
        margin-left: 20px;
      }
      
      nav .logo img {
        height: 50px;
      }
    
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    nav li {
    margin: 0 10px;
    }
    
    nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    }
    
    nav a:hover {
    text-decoration: underline;
    }
    
    @media (max-width: 400px) {
    nav ul {
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
    }
    
    nav li {
    margin: 0;
    text-align: center;
    }
    
    nav a {
    padding: 10px 0;
    display: block;
    }
    
    nav ul.show {
    display: flex;
    }
/*dropdown mobile queries*/
    .dropdown-content {
      position: static;
      display: none;
      background-color: transparent;
      box-shadow: none;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
    }
    /*DROPDOWN*/
    .dropdown {
      position: relative;
      display: inline-block;
      
    }
    .dropdown-content a {
      display: block;
      padding: 30px;
      color: #fff;
    }
    .dropdown-content {
      left: -40px;
      display: none;
      position: absolute;
      background-color: #333;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
/*BACKGR*/
.section {
  position: relative;
  background-image: url("images/hikkaduwa-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px; 
}
#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
  justify-items: center;
}

#image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

#image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

#image:hover img {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/*HIKKADUWA ABOUT*/

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(223, 222, 222);
}

.container-2::after {
  content: "";
  display: table;
  clear: both;
}

.about-us {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.about-us h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.picture {
  width: 100%;
  text-align: center;
  padding: 5vh;

}

.picture img {
  max-width: 100%;
  height: auto; 
   border-radius: 2%;
}

@media (min-width: 768px) {
  .container-2 {
    flex-direction: row;
  }
  
  .about-us {
    width: 50%;
    margin-bottom: 0;
  }
  
  .picture {
    width: 50%;
    text-align: right;
  }
}
/*THINGS TO DO IN HATCHERY*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.to-do {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-size: 18px;
  transition: background-color 0.3s;
}

.to-do:hover {
  background-color: #555;
}

.item1 {
  background-color: navy;
}

.item2 {
  background-color: #77dd77;
}

.item3 {
  background-color: #e15c5c;
}

@media only screen and (max-width: 768px) {
  .to-do {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .to-do{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*map */
.map{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}
.map-text{
  color: #333;
  margin-bottom: 50px;
}
iframe{
  width: 70%;
  height: 500px;
}
    /*FOOTER*/
    a{
        text-decoration: none;
        color: #fff;
        transition: .5s;
      }
      ul ,li {
        list-style-type: none;
      }
      footer{
        background-color: #333;
        color: #fff;
      }
      .footer_info{
        width: 90%;
        padding: 50px 0;
        margin: 0 auto;
        display: flex;
      }
      .footer_info h2{
        color: #fff;
      margin-bottom: 20px;
      }
      .footer_info .footer_width{
        padding: 0 15px;
      }
      .link{
         width: 20%;
      }
      .about, .locations{
        width: 40%;
      } 
      .link ul li{
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
      }
      .link ul li a:hover{
        color: #3BACB6;
      }
      .locations ul li{
        display: flex;
        margin-bottom: 15px;
        align-items: center;
      
      }
      .locations ul li span{
      margin-right: 15px;
      }
      /*Media queries*/
      @media screen and (max-width:992px){
      .about ,.locations{
        width: 35%;
      }
      .link{
        width: 30%;
      }
      }
      
      @media screen and (max-width:767px){
      .about, .link, .locations{
        margin-bottom: 30px;
        width: 100%;
      }
      .footer_info{
        flex-direction: column;
      }
      }